* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Alegreya Sans', sans-serif;
}

.menu {
	display: flex;
	height: 655px;
	width: 100%;
	background-image: url("/img/menu-fone.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 0;
	}

	&__header {
		font-size: 48px;
		font-weight: 700;
		color: #fff;
		position: relative;
		padding: 100px 30px 100px 80px;
	}

	&__body {
		display: flex;
		margin-left: auto;
	}

	&__item {
		display: flex;

		&-header {
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: relative;
			flex: 0 0 100px;
			width: 100px;
			cursor: pointer;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.3);
				z-index: 0;
			}
		}

		&-title {
			transform: rotate(-90deg);
			white-space: nowrap;
			position: absolute;
			bottom: 50px;
			color: #fff;
			font-size: 48px;
			font-weight: 500;
			left: 50%;
			transform-origin: left;
		}

		&-body {
			height: 100%;
			max-width: 530px;
			background-color: rgba(0, 0, 0, 0.58);
			color: #fff;
			position: relative;
			width: 0;
			overflow: hidden;
			padding: 0;
			transition: width ease-in 0.2s, flex ease-in 0.2s;
			flex: 0 1 0%;

			.menu__item_open & {
				width: auto;
				padding: 50px 60px 50px 30px;
				transition: width ease-in 0.2s, flex ease-in 0.2s, padding ease-in 0.2s;
				flex: 0 1 100%;
			}
		}

		&-cross {
			position: absolute;
			width: 18px;
			height: 18px;
			background-image: url('/img/cross.png');
			background-color: aliceblue;
			top: 30px;
			right: 30px;
			cursor: pointer;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

@media (max-width: 768px) {
	.menu {
		&__header {
			font-size: 36px;
			padding: 15px 10px 15px 10px;
		}

		&__item{

			&-header{
				flex: 0 0 60px;
				width: 60px;
			}

			&-title{
				bottom: 10px;
				font-size: 32px;
			}

			&-body {
				max-width: 250px;

				.menu__item_open & {
					padding: 10px 25px 10px 10px;
				}
			}
			&-cross {
				width: 12px;
				height: 12px;
				top: 5px;
				right: 5px;
			}
		}
	}
}

@media (max-width: 480px) {
	.menu{
		flex-direction: column;
		height: auto;

		&__body{
			flex-direction: column;
			width: 100%;
		}

		&__item{
			flex-direction: column;
			height: auto;

			&-header{
				width: 100%;
				flex: 0 0 0;
				padding: 10px 10px;
			}

			&-title{
				transform: none;
				position: relative;
				left: 0;
				bottom: 0;
			}

			&-body {
				max-width: 100%;
				width: 100%;
				flex-basis: 0px;
				transition: width ease-in 0.2s, flex ease-in 0.2s, padding ease-in 0.2s;
			}
		}
	}
}